<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Configuración de encabezado -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Enlace al archivo de estilos chat.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <title>Chat Avanzado</title>
</head>
<body>
    <!-- Estructura del cuerpo del documento -->

    <!-- Título del chat -->
    <h1>Chat Avanzado</h1>

    <!-- Formulario para ingresar el nombre y el nuevo mensaje -->
    <form id="formulario_mensaje">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" value="{{ nombre }}" autofocus required>
        <br>
        <label for="nuevo_mensaje">Nuevo Mensaje</label>
        <input type="text" id="nuevo_mensaje" name="nuevo_mensaje" required>
        <br>
        <button type="submit">Enviar</button>
    </form>

    <!-- Lista de mensajes -->
    <ul id="lista-mensajes">
        {% for mensaje in mensajes %}
        <!-- Renderizar cada mensaje en la lista -->
            <li>{{ mensaje }}</li>
        {% endfor %}
    </ul>
</body>

<!-- Inclusión de la librería Socket.IO -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
<script>
    // Esperar a que el DOM este completamente cargado
    document.addEventListener('DOMContentLoaded', function() {
        // Conectar al servidor de Socket.IO en el mismo dominio y puerto
        var socket = io.connect('http://' + document.domain + ':' + location.port)

        // Escuchar el evento de 'actualizar_mensajes' desde el servidor
        socket.on('actualizar_mensajes', function(data) {
            // Obtener la lista de mensajes y crear un nuevo elemento de lista con el mensaje recibido
            var listamensajes = document.getElementById('lista-mensajes')
            var nuevomensaje = document.createElement('li')
            nuevomensaje.textContent = data.nombre + ': ' + data.mensaje
            listamensajes.appendChild(nuevomensaje)
        })

        // Obtener el formulario y agregar un evento de escucha para el evento de envío
        var formulario = document.getElementById('formulario_mensaje');
        formulario.addEventListener('submit', function(event) {
            // Evitar que el formulario se envie de manera predeterminada
            event.preventDefault();

            // Obtener el nombre y el nuevo mensaje del formulario
            var nombre = document.getElementById('nombre').value;
            var nuevo_mensaje = document.getElementById('nuevo_mensaje').value;

            // Emitir un evento 'mensaje' al servidor con los datos ingresados por el usuario
            socket.emit('mensaje', {'nombre': nombre, 'mensaje': nuevo_mensaje})

            // Limpiar el campo del nuevo mensaje después de enviarlo
            document.getElementById('nuevo_mensaje').value = '';
        })
    })

</script>

</html>